@charset "utf-8";

/* css 작성 순서
1.	display, visible
2.	float
3.	position
4.	width, height
5.	margin, padding
6.	font (font-weight, font-size…)
7.	color, line-height, word, vertical-align
8.	text (text-indent, text-decoration..)
9.	border
10.	background
11.	overflow
12.	opacity
13.	box (box-sizing, box-shadow)
14.	z-index
15.	transition
16.	animation */

/* 헤더 */
.header {
    position: fixed;
    width: 100%;
    background-color: turquoise;
}

/* 이디야 로고 */
.header__brandName {
    float: left;
    padding-top: 26px;
    padding-left: 26px;
    width: 200px;
    height: 20px;
}
/* // 이디야 로고 */

/* 햄버거 버튼 */
.header__btnBurger {
    float: right;
    
    background-color: violet;
}
/* // 햄버거 버튼 */

/* 내비게이션 */
.nav {
    width: 100%;
    background-image: #2E437C;
}
.nav__mainNav {

}

