@charset "utf-8";

/* 헤더 */
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #E0E0E0;
    background: rgba(255, 255, 255, 0.4);
    z-index: 100;
    animation-name: headerIn;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}
@keyframes headerIn {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* 이디야 로고 */
.header__brandName {
    float: left;
    width: 202px;
    margin: 16px 0 0 26px;
    font-size: 1rem;
    animation-name: brandName;
    animation-delay: .3s;
    animation-duration: .45s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes brandName {
    0% {
        transform: translateX(-250px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.header__brandName a {
    display: block;
    width: 202px;
    padding: 10px 0;
}
/* // 이디야 로고 */

/* 햄버거 버튼 */
.header__btnBurger {
    float: right;
    width: 67px;
    height: 67px;
    animation-name: btnBurger;
    animation-delay: .3s;
    animation-duration: .4s;
    animation-fill-mode: both;
    animation-timing-function: linear;
}
@keyframes btnBurger {
    0% {
        transform: translateX(67px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.header__btnBurger:hover {
    background: #f5f5f5;
}
.header__btnBurger:active,
.header__btnBurger:focus {
    background: #f5f5f5;

}
/* // 햄버거 버튼 */

/* 내비게이션 */
.nav {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: hsla(225, 57%, 10%, 0.9);
    z-index: 110;
    transform: translateX(100vw);
    transition: all ease 400ms;
}
.nav--active {
    transform: translateX(0);
    transition: all ease 400ms;
}
.nav__mainNav {
    padding-top: 70px;
}
.nav__mainNav a {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 1.6rem;
    color: #fff;
    border-bottom: 1px solid rgba(33, 55, 120, 0.5);
    transition: all ease 400ms;
}
.nav__mainNav a:hover, .nav__mainNav a:focus {
    background-color: #2e437c;
}
.nav__btnClosed {
    position: absolute;
    top: 0;
    right: 20px;
    width: 67px;
    height: 67px;
}
.nav__btnClosed span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 4px;
    margin-top: -2px;
    margin-left: -18px;
    background: #fff;
}
.positionSlash {
    transform: rotate(45deg);
}
.positionBackslash {
    transform: rotate(135deg);
}